[user]
	name = Link
	email = xieaolin@gmail.com
	signingkey = EDA90C66
[core]
    symlinks = false
    autocrlf = input
	excludesfile = /Users/xieaolin/.gitignore_global
    paper = less -r
    quotepath = false
[push]
    default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[branch]
      autosetuprebase = always
[alias]
    output = "!sh -c 'git archive -o ~/var/output.zip $1 $(git diff --name-only $2)' -"
    aa = add .
    ss = status
    cc = commit
    bb = branch
    lm = log --graph --pretty=format:'%h @%ci by %ce: %s %n' --after='1 month'
    ls = log --graph --pretty=format:'%h @%ci by %ce: %s %n'
[diff]
    tool = meld
[merge]
	tool = meld
[mergetool]
	keepBackup = true
[difftool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\"
	path = -ro
[mergetool "sourcetree"]
	cmd = /usr/local/bin/bcomp \"$LOCAL\" \"$REMOTE\" \"$BASE\" \"$MERGED\"
	trustExitCode = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[commit]
	gpgsign = true
	template = /Users/xieaolin/.stCommitMsg
[gpg]
	program = /usr/local/MacGPG2/bin/gpg
[credential]
	helper = osxkeychain
