[user]
    name = Link
    email = xieaolin@foxmail.com
[core]
    symlinks = false
    autocrlf = input
    excludesfile = /Users/xieaolin/.gitignore_global
    paper = less -r
    quotepath = false
[push]
    default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[branch]
      autosetuprebase = always
[alias]
    output = "!sh -c 'git archive -o ~/var/output.zip $1 $(git diff --name-only $2)' -"
    aa = add .
    ss = status
    cc = commit
    bb = branch
    lm = log --graph --pretty=format:'%h @%ci by %ce: %s %n' --after='1 month'
    ls = log --graph --pretty=format:'%h @%ci by %ce: %s %n'
[diff]
    tool = meld
[merge]
    tool = meld
[mergetool]
    keepBackup = false
[difftool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/DiffMerge.app/Contents/MacOS/DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
