[user]
    name = Link
    email = xieaolin@foxmail.com
[core]
    symlinks = false
    autocrlf = input
    excludesfile = ~/.gitignore_global
    paper = less -r
    quotepath = false
[push]
    default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = true
[branch]
      autosetuprebase = always
[alias]
    output = "!sh -c 'git archive -o ~/var/output.zip $1 $(git diff --name-only $2)' -"
    aa = add .
    ss = status
    cc = commit
[diff]
    tool = meld
[merge]
    tool = meld
[mergetool]
    keepBackup = false
[difftool "sourcetree"]
	cmd = DiffMerge --nosplash \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = DiffMerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$BASE\" \"$REMOTE\"
	trustExitCode = true
